/* Global Classes */

.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.fx-an-cr {
  align-items: center;
}

.fx-jy-cr {
  justify-content: center;
}

.text-left {
  text-align: left;
}

/* Bootstrap Navbar custom styles */
.navbar-dark a {
  color: white;
}

.date-picker {
  background-color: rgba(54, 69, 79, 0.7);
}

.navbar-dark a:hover {
  background-color: rgb(92, 92, 92);
}

.btn {
  width: 100%;
  color: white;
  background-color: rgba(55, 20, 93, 0.8);
  border: none;
  margin: 10px auto;
  padding: 1em;
}

.btn:hover {
  background-color: rgba(79, 19, 143, 0.8);
}
/* Search bar */

.search-element {
  margin-bottom: 15px;
  padding: 2px;
}

.date-picker {
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
  padding: 2px;
  border: none;
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  align-items: middle;
  justify-content: center;
  padding: 50px 10%;
  border-radius: 10px;
}

.bg-wrapper {
  width: 55%;
}

@media (max-width: 1000px) {
  .bg-wrapper {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .bg-wrapper {
    width: 100%;
  }
}

.search-heading {
  margin: auto;
  padding-bottom: 20px;
}

.search-history-wrapper {
  margin-top: 1em;
  padding: 1em;
  color: white;
  background-color: rgba(92, 92, 92, 0.661);
  border-radius: 10px;
  text-transform: capitalize;
}

.search-history-wrapper hr {
  margin: 0.5em;
  width: 97%;
}

/* modal inside portal */

.portal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 90%;
  width: 90%;
  background-color: rgba(50, 50, 50, 0.6);
}

.pulse-loader {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
