.App {
  text-align: center;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Bootstrap Navbar custom styles */
.navbar-dark a {
  color: white;
}

.btn {
  width: 110px;
}

.navbar-dark a:hover {
  background-color: rgb(92, 92, 92);
}

/* Search bar */
.search-element {
  padding-bottom: 20px;
}

#search-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 55%;
  align-items: middle;
  justify-content: center;
  padding: 50px 10%;
}

.search-heading {
  margin:auto;
  padding-bottom: 20px;
}

#location-searchbar {
  padding-bottom: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* modal inside portal */

.portal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 90%;
  width: 90%;
  background-color: rgba(50, 50, 50, 0.6);
}

.pulse-loader {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
